{{> html-open
    pageTitle='home page'}}

    <div class="container component">
        <p>Playing with { simpla } content system.</p>

        <simpla-text path="/text"></simpla-text>
    </div>

{{> html-close}}
