$color-01: #fff; // primary background
$color-02: #d94f5c; // button
$color-03: #262223; // text, dark background?
$color-04: #f2f2f2; // secondary background
$color-05: rgba($color-04, .8); // tiles
$color-06: #000;
$color-07: #fcb316; // indent border
$color-08: #d91e18; // error
$color-09: #c4c2c3; // border
$color-10: rgba($color-09, .3); // mid \grey
$color-11: #007a4b; // valid
$color-12: rgba($color-06, .7); // caption background
$color-13: rgba($color-06, .1); // shadows

// anchor:
$link: #0066b3; // link
$hover: #8a4290; // hover
$visited: #b12; // visited

// social:
$facebook: #3b5998;
$youtube: #e62217;
$twitter: #1da1f2;
$instagram: #d10869;
$location: #8dc63f;
