<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{pageTitle}}</title>

	<link rel="shortcut icon" type="image/png" href="favicon-16x16.png?v=bust" sizes="16x16">
	<link rel="icon" type="image/png" href="favicon-32x32.png?v=bust" sizes="32x32">
	<link rel="icon" type="image/png" href="favicon-96x96.png?v=bust" sizes="96x96">

	<meta http-equiv="cleartype" content="on">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">

	{{!-- Full Screen --}}
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="mobile-web-app-capable" content="yes">

	{{!-- CSS --}}
	<link type="text/css" rel="stylesheet" href="css/styles.css" />

	{{!-- JS --}}
    <script src="js/app.js"></script>
	<script src="https://unpkg.com/webcomponents.js@^0.7.24/webcomponents-lite.min.js" async></script>

	{{!-- bower --}}
	<link rel="import" href="/bower_components/simpla-text/simpla-text.html">
	<link rel="import" href="/bower_components/simpla-admin/simpla-admin.html" async>

</head>

<body>
    <div id="wrapper" class="wrapper">
		<div class="content">
