html,
body {
    margin: 0;
    padding: 0;
    width: 100%;

    // sass-lint:disable no-color-literals
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // remove tap highlight from iOS
}


// Content:
// height set in content for dorp down menu to show if no other content on the page
.content {
    // @extend %cf;
}


// Address:
address {
    @extend %typography-last;
    font-style: normal;
    margin: 0 0 $content-spacing;
    padding: 0;
}


// Container:
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    max-width: $container-lg;
}
